/* 共通CSS */
html,button,div,span,table,h1,h2,h3,ul,li{
  margin: 0;
  padding:0;
}
#wrap_contents {
    border: 1px solid #dddddd;
    width: 520px;
    display: flex;
}
#right-content{
  width: 250px;
  display: flex;
  align-items:center;
}
#left-content{
  width: 250px;
}

/* 左側CSS */
.wrap_btn{
  width: 140px;
  margin: 15px;
  position: relative;
}
.btn{
  display: flex;
  justify-content: space-between;
  width: 140px;
  padding:3px 10px;
  border:2px solid #000;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1),
              0 -5px 5px rgba(0, 0, 0, 0.1),
              5px 0 5px rgba(0, 0, 0, 0.1),
              -5px 0 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.btn span{
  font-weight: bold;
}
.counter {
    position: absolute;
    top: -6px;
    right: -10px;
    font-size: 14px;
    background-color: #ff0000;
    border-radius: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
}
/* 右側CSS */

.wrap_data{
  width: 100%;
  height: fit-content;
  font-weight: bold;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1),
              0 -5px 5px rgba(0, 0, 0, 0.1),
              5px 0 5px rgba(0, 0, 0, 0.1),
              -5px 0 5px rgba(0, 0, 0, 0.1);
}
.wrap_data h3{
  border-bottom: 2px solid #dddddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
}